In [31]:
import pandas as pd

In [32]:
#Fonte: https://sidra.ibge.gov.br/tabela/1737 

# Importa os dados
df_inflacao = pd.read_csv('../data/input/inflacao/inflacao.csv', sep=',' , skiprows=3, index_col=0)

In [33]:
df_inflacao = df_inflacao.iloc[0].reset_index()
df_melted = df_inflacao.melt(id_vars='index', var_name='Data', value_name='Valor')

In [34]:
# quenra coluna "index" em duas, sendo seu conteudo como "dezembro 1979", devera ser dividido em "dezembro" e "1979"
df_melted[['Mes', 'Ano']] = df_melted['index'].str.split(' ', expand=True)

In [35]:
# remove coluna index e Data se existir
if 'index' in df_melted.columns:
    df_melted.drop(columns=['index'], inplace=True)
if 'Data' in df_melted.columns:
    df_melted.drop(columns=['Data'], inplace=True)

In [36]:
# filtrar coluna mes com "dezembro"
df_melted = df_melted[df_melted['Mes'] == 'dezembro']
df_melted.iloc[0:5]

     Valor       Mes   Ano
0      ...  dezembro  1979
12   99.25  dezembro  1980
24   95.62  dezembro  1981
36  104.79  dezembro  1982
48  164.01  dezembro  1983

In [37]:
if 'Mes' in df_melted.columns:
    df_melted.drop(columns=['Mes'], inplace=True)

In [38]:
# Renomeia as colunas
df_melted= df_melted.rename(columns={'Valor': 'Inflação'})

In [39]:
# Ordena colunas
df_melted = df_melted[['Ano', 'Inflação']]

In [43]:
# tipar coluna Ano como float
df_melted['Inflação'] = pd.to_numeric(df_melted['Inflação'], errors='coerce')

In [45]:
# salva arquivo
df_melted.to_csv('../data/output/inflacao_brasil.csv', index=False, sep=';', decimal=',')

In [44]:
df_melted.iloc[0:5]

     Ano  Inflação
0   1979       NaN
12  1980     99.25
24  1981     95.62
36  1982    104.79
48  1983    164.01