In [2]:
import pandas as pd

In [27]:
# FONTE 1:

# Importa os dados
df_de_para_nome_pais = pd.read_csv('../data/output/de_para_nome_pais.csv', encoding="utf-8")
df_meteorologia = pd.read_csv('../data/input/meteorologia/global/Temperature change on land_Global_2000-2024.csv', encoding="utf-8")

In [28]:
# Seleciona apenas a coluna desejada do segundo DataFrame
df_de_para_nome_pais = df_de_para_nome_pais[['Nome do País (Inglês)', 'Nome do País (Português)']]

# Faz o merge
df_meteorologia = df_meteorologia.merge(df_de_para_nome_pais, left_on='Area', right_on='Nome do País (Inglês)', how='left')

In [39]:
# Pegar somente onde a coluna "Element" é igual a "Temperature change on land"
if 'Element' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia[df_meteorologia['Element'] == 'Temperature change']

if 'Flag Description' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia[df_meteorologia['Flag Description'] == 'Estimated value']

In [42]:
# todos os tipos de valores na coluna Domain Code
print(df_meteorologia['Flag Description'].unique())

['Estimated value']

In [51]:
# Remove coluna Domain Code se existir
if 'Domain Code' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Domain Code'])

if 'Domain' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Domain'])

if 'Element' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Element'])

if 'Flag Description' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Flag Description'])

if 'Area' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Area'])

if 'Area Code (M49)' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Area Code (M49)'])

if 'Element Code' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Element Code'])

if 'Months Code' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Months Code'])

if 'Unit' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Unit'])

if 'Flag' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Flag'])

if 'Year Code' in df_meteorologia.columns:
    df_meteorologia = df_meteorologia.drop(columns=['Year Code'])

In [56]:
# Gerar Mediana
df_meteorologia_mediana = df_meteorologia.groupby(['Nome do País (Português)', 'Year', 'Nome do País (Inglês)'])['Value'].median().reset_index()

In [57]:
df_meteorologia_mediana.iloc[0:5]

  Nome do País (Português)  Year Nome do País (Inglês)  Value
0              Afeganistão  2000           Afghanistan  0.826
1              Afeganistão  2001           Afghanistan  1.209
2              Afeganistão  2002           Afghanistan  1.457
3              Afeganistão  2003           Afghanistan  0.787
4              Afeganistão  2004           Afghanistan  1.241