In [13]:
import pandas as pd
import xlrd

In [14]:
# FONTE: https://sei.ba.gov.br/index.php?option=com_content&view=article&id=137&Itemid=1143&lang=pt

# Importa os dados, pulando as duas primeiras linhas, usando a 4 a 6 como cabeçalho e a primeira coluna como index
df = pd.read_excel('../data/input/pib/brasil.xlsx', skiprows=1, header=[1,2,3,4], index_col=0)

In [15]:
# initialize df_novo DataFrame outside the loop
df_novo = pd.DataFrame()

# loop de anos, iniando em 2000 a 2021
for ano in range(2002, 2022):
    # criando novo df com os dados do ano
    coluna = (ano, 'Produto Interno Bruto', '1 000 000 R$', 'Preços\ncorrentes')
    
    # Cria um novo DataFrame com as informações que você deseja adicionar
    df_to_append = pd.DataFrame({'Ano': [ano], 'Valor': [df[coluna].loc['Rio Grande do Sul']]})

    # Adiciona o novo DataFrame ao DataFrame principal
    df_novo = pd.concat([df_novo, df_to_append], ignore_index=True)

In [16]:
# mutiplicar por 1.000.000
df_novo['Valor'] = (df_novo['Valor'] * 1000000).round(2)

In [17]:
# FONTE: https://www.estado.rs.gov.br/estiagem-provoca-queda-de-5-1-do-pib-do-rs-em-2022 e https://observatoriodaindustriars.org.br/inteligencia-estrategica/pib-do-rs-cresce-17-em-2023-e-fica-abaixo-do-esperado/
# adicionando novas linhas de PIB 2022 e 2023

# Create a new DataFrame with the two rows to be added
df_nova_linha = pd.DataFrame({'Ano': [2022, 2023], 'Valor': [594.96*1000000000, 640.30*1000000000]})

# Concatenate the new DataFrame with the original DataFrame
df_novo = pd.concat([df_novo, df_nova_linha], ignore_index=True)

# Print the first 30 rows of the updated DataFrame
df_novo.iloc[0:30]

     Ano         Valor
0   2002  9.884721e+10
1   2003  1.193254e+11
2   2004  1.311922e+11
3   2005  1.363628e+11
4   2006  1.476226e+11
5   2007  1.680098e+11
6   2008  1.902298e+11
7   2009  2.043449e+11
8   2010  2.412492e+11
9   2011  2.650564e+11
10  2012  2.875870e+11
11  2013  3.322927e+11
12  2014  3.578164e+11
13  2015  3.819851e+11
14  2016  4.087895e+11
15  2017  4.232700e+11
16  2018  4.572940e+11
17  2019  4.824642e+11
18  2020  4.709418e+11
19  2021  5.812837e+11
20  2022  5.949600e+11
21  2023  6.403000e+11

In [18]:
# salvar arquivo
df_novo.to_csv('../data/output/pib_rs.csv', index=False, sep=';', decimal=',')