In [41]:
import pandas as pd
import xlrd

In [42]:
# FONTE: https://sei.ba.gov.br/index.php?option=com_content&view=article&id=137&Itemid=1143&lang=pt

# Importa os dados, pulando as duas primeiras linhas, usando a 4 a 6 como cabeçalho e a primeira coluna como index
df = pd.read_excel('../data/input/pib/brasil.xlsx', skiprows=1, header=[1,2,3,4], index_col=0)

In [43]:
# initialize df_novo DataFrame outside the loop
df_novo = pd.DataFrame()

# loop de anos, iniando em 2000 a 2021
for ano in range(2002, 2022):
    # criando novo df com os dados do ano
    coluna = (ano, 'Produto Interno Bruto', '1 000 000 R$', 'Preços\ncorrentes')
    
    # Cria um novo DataFrame com as informações que você deseja adicionar
    df_to_append = pd.DataFrame({'Ano': [ano], 'Valor': [df[coluna].iloc[0]]})

    # Adiciona o novo DataFrame ao DataFrame principal
    df_novo = pd.concat([df_novo, df_to_append], ignore_index=True)

In [44]:
# mutiplicar por 1.000.000
df_novo['Valor'] = (df_novo['Valor'] * 1000000).round(2)

In [45]:


# FONTE: https://www.ibge.gov.br/explica/pib.php e https://agenciadenoticias.ibge.gov.br/agencia-sala-de-imprensa/2013-agencia-de-noticias/releases/36371-pib-cresce-2-9-em-2022-e-fecha-o-ano-em-r-9-9-trilhoes
# adicionando novas linhas de PIB 2022 e 2023

# Create a new DataFrame with the two rows to be added
df_nova_linha = pd.DataFrame({'Ano': [2022, 2023], 'Valor': [9.9*1000000000000, 10.9*1000000000000]})

# Concatenate the new DataFrame with the original DataFrame
df_novo = pd.concat([df_novo, df_nova_linha], ignore_index=True)

# Print the first 30 rows of the updated DataFrame
df_novo.iloc[0:30]

     Ano         Valor
0   2002  1.488787e+12
1   2003  1.717950e+12
2   2004  1.957751e+12
3   2005  2.170585e+12
4   2006  2.409450e+12
5   2007  2.720263e+12
6   2008  3.109803e+12
7   2009  3.333039e+12
8   2010  3.885847e+12
9   2011  4.376382e+12
10  2012  4.814760e+12
11  2013  5.331619e+12
12  2014  5.778953e+12
13  2015  5.995787e+12
14  2016  6.269328e+12
15  2017  6.585479e+12
16  2018  7.004141e+12
17  2019  7.389131e+12
18  2020  7.609597e+12
19  2021  9.012142e+12
20  2022  9.900000e+12
21  2023  1.090000e+13

In [46]:
# salvar arquivo
df_novo.to_csv('../data/output/pib_brasil.csv', index=False, sep=';', decimal=',')