In [1]:
import pandas as pd
import xlrd

Requirement already satisfied: openpyxl in c:\users\ti_ag\source\repo\projeto\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\ti_ag\source\repo\projeto\.venv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# FONTE: https://sei.ba.gov.br/index.php?option=com_content&view=article&id=137&Itemid=1143&lang=pt

# Importa os dados, pulando as duas primeiras linhas, usando a 4 a 6 como cabeçalho e a primeira coluna como index
df = pd.read_excel('../data/input/pib/brasil.xlsx', skiprows=1, header=[1,2,3,4], index_col=0)

In [4]:
# initialize df_novo DataFrame outside the loop
df_novo = pd.DataFrame()

# loop de anos, iniando em 2000 a 2021
for ano in range(2002, 2022):
    # criando novo df com os dados do ano
    coluna = (ano, 'Produto Interno Bruto', '1 000 000 R$', 'Preços\ncorrentes')
    
    # Cria um novo DataFrame com as informações que você deseja adicionar
    df_to_append = pd.DataFrame({'Ano': [ano], 'Valor': [df[coluna].loc['Rio Grande do Sul']]})

    # Adiciona o novo DataFrame ao DataFrame principal
    df_novo = pd.concat([df_novo, df_to_append], ignore_index=True)

In [5]:
# mutiplicar por 1.000.000
df_novo['Valor'] = (df_novo['Valor'] * 1000000).round(2)

In [6]:
# salvar arquivo
df_novo.to_csv('../data/output/pib_rs.csv', index=False, sep=';', decimal=',')

In [7]:
df_novo.iloc[0:5]

    Ano         Valor
0  2002  9.884721e+10
1  2003  1.193254e+11
2  2004  1.311922e+11
3  2005  1.363628e+11
4  2006  1.476226e+11