In [ ]:
import pandas as pd
import xlrd

In [178]:
# FONTE: https://sei.ba.gov.br/index.php?option=com_content&view=article&id=137&Itemid=1143&lang=pt

# Importa os dados, pulando as duas primeiras linhas, usando a 4 a 6 como cabeçalho e a primeira coluna como index
df = pd.read_excel('../data/input/pib/brasil.xlsx', skiprows=1, header=[1,2,3,4], index_col=0)

In [179]:
# initialize df_novo DataFrame outside the loop
df_novo = pd.DataFrame()

# loop de anos, iniando em 2000 a 2021
for ano in range(2002, 2022):
    # criando novo df com os dados do ano
    coluna = (ano, 'Produto Interno Bruto', '1 000 000 R$', 'Preços\ncorrentes')
    
    # Cria um novo DataFrame com as informações que você deseja adicionar
    df_to_append = pd.DataFrame({'Ano': [ano], 'Valor': [df[coluna].iloc[0]]})

    # Adiciona o novo DataFrame ao DataFrame principal
    df_novo = pd.concat([df_novo, df_to_append], ignore_index=True)

In [180]:
# mutiplicar por 1.000.000
df_novo['Valor'] = (df_novo['Valor'] * 1000000).round(2)

In [181]:
# salvar arquivo
df_novo.to_csv('../data/output/pib_brasil.csv', index=False, sep=';', decimal=',')

In [175]:
df_novo.iloc[0:5]

    Ano         Valor
0  2002  1.488787e+12
1  2003  1.717950e+12
2  2004  1.957751e+12
3  2005  2.170585e+12
4  2006  2.409450e+12