In [17]:
import pandas as pd
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt
import numpy as np

In [31]:
# Importando os dados
df_exp_vinhos  = pd.read_csv('Data/output/exportacao_vinhos.csv', encoding="utf-8")
df_meteorologia_ano = pd.read_csv('Data/output/Meteorologia_Ano_mediana.csv')
df_inflacao = pd.read_csv('Data/output/manual/inflacao_brasil.csv', sep=';', encoding="utf-8")
df_pib_br = pd.read_csv('Data/output/pib_brasil.csv', sep=';', encoding="utf-8")
df_pib_rs = pd.read_csv('Data/output/pib_rs.csv', sep=';', encoding="utf-8")
df_dolar = pd.read_csv('Data/output/dolar_mediana_ano.csv', encoding="utf-8")

In [32]:
# Renomeando colunas
df_pib_br = df_pib_br.rename(columns={'Valor': 'PIB_Brasil_Trilhoes'})
df_pib_rs = df_pib_rs.rename(columns={'Valor': 'PIB_RS_Trilhoes'})

In [33]:
# Convertendo os valores para int de Ano nas tabelas de exportação de vinhos e meteorologia
df_exp_vinhos['Ano'] = df_exp_vinhos['Ano'].astype(int)
df_meteorologia_ano['Ano'] = df_meteorologia_ano['Ano'].astype(int)
df_dolar['Ano'] = df_dolar['Ano'].astype(int)

In [34]:
# Convertendo os valores para float de Inflação e PIB nas tabelas de inflação e PIB
df_inflacao['Inflação'] = df_inflacao['Inflação'].astype(str).str.replace(',', '.').astype(float)
df_pib_br['PIB_Brasil_Trilhoes'] = df_pib_br['PIB_Brasil_Trilhoes'].astype(str).str.replace(',', '.').astype(float)
df_pib_rs['PIB_RS_Trilhoes'] = df_pib_rs['PIB_RS_Trilhoes'].astype(str).str.replace(',', '.').astype(float)

In [35]:
# Ajusando escala do de valores
df_pib_br['PIB_Brasil_Trilhoes'] = (df_pib_br['PIB_Brasil_Trilhoes'] / 1e12).round(3)
df_pib_rs['PIB_RS_Trilhoes'] = (df_pib_rs['PIB_RS_Trilhoes'] / 1e12).round(3)

In [36]:
# União dos dataframes de exportação de vinhos e meteorologia
df_unificado = df_exp_vinhos.merge(df_meteorologia_ano[['Ano', 'TempAr', 'Precipitacao']], on='Ano')

In [37]:
# União do dataframe unificado com a inflação
df_unificado = df_unificado.merge(df_inflacao[['Ano', 'Inflação']], on='Ano')

In [38]:
# União do dataframe unificado com o PIB do Brasil
df_unificado = df_unificado.merge(df_pib_br[['Ano', 'PIB_Brasil_Trilhoes']], on='Ano')

In [39]:
# União do dataframe unificado com o PIB do RS
df_unificado = df_unificado.merge(df_pib_rs[['Ano', 'PIB_RS_Trilhoes']], on='Ano')

In [40]:
# União do dataframe unificado com o dolar
df_unificado = df_unificado.merge(df_dolar[['Ano', 'USD BRL']], on='Ano')

In [41]:
# Ordenando o dataframe por Ano e Pais
df_unificado = df_unificado.sort_values(by=['Ano'])

In [42]:
# Calculando o valor por litro
df_unificado['ValorPorLitro'] = (df_unificado['Valor'] / df_unificado['Litros']).round(2)

In [44]:
df_unificado.iloc[0:500]

,País,Ano,Litros,Valor,TempAr,Precipitacao,Inflação,PIB_Brasil_Trilhoes,PIB_RS_Trilhoes,USD BRL,ValorPorLitro
0,Afeganistão,2007,0.0,0.0,18.2,0.8,4.46,2.720,0.168,1.95095,NaN
93,Nova Zelândia,2007,0.0,0.0,18.2,0.8,4.46,2.720,0.168,1.95095,NaN
92,Nova Caledônia,2007,0.0,0.0,18.2,0.8,4.46,2.720,0.168,1.95095,NaN
91,Noruega,2007,10044.0,10044.0,18.2,0.8,4.46,2.720,0.168,1.95095,1.0
90,Nigéria,2007,0.0,0.0,18.2,0.8,4.46,2.720,0.168,1.95095,NaN
...,...,...,...,...,...,...,...,...,...,...,...
430,"Eslovaca, Republica",2010,0.0,0.0,17.4,0.8,5.91,3.886,0.241,1.76670,NaN
437,Gana,2010,0.0,0.0,17.4,0.8,5.91,3.886,0.241,1.76670,NaN
428,Emirados Arabes Unidos,2010,1035.0,3206.0,17.4,0.8,5.91,3.886,0.241,1.76670,3.1
429,Equador,2010,0.0,0.0,17.4,0.8,5.91,3.886,0.241,1.76670,NaN
416,Colômbia,2010,0.0,0.0,17.4,0.8,5.91,3.886,0.241,1.76670,NaN

In [16]:
# Salvando o dataframe unificado
df_unificado.to_csv('Data/output/base_final.csv', index=False)